<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" href="../src/assets/favicon.png">
    <title>Forward</title>
</head>
<body>
<header class="nav">
    <div class="nav-content">
        <ul class="nav-list">
            <li class="nav-item nav-forward">
                <a href="#" class="nav-link nav-link-forward"></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="link1">Link1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="link2">Link2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="link3">Link3</a>
            </li>
            <li class="nav-item nav-join">
                <a href="#" class="nav-link nav-link-join">Join Waitlist</a>
            </li>
        </ul>
    </div>
</header>
<article class="main">
    <section class="hero"></section>
    <section class="join" id="join1">
        <h1>Hurry,Crowdfunding Soon!</h1>
        <p>Sign up now to access the launch-day deal of up to <span>30% OFF</span></p>
        <div class="form-container">
            <form action="#" id="form1">
                <div class="input-wrapper">
                    <input type="text" placeholder="Email Address">
                </div>
                <div class="submit-button">Join Waitlist</div>
            </form>
        </div>
    </section>
    <section class="feature feature-item-1">
        <div class="mask"></div>
        <h1>The Future Of Travel <br> is Hands Free</h1>
    </section>
    <section class="features">
        <div class="f-item">
            <img src="../src/img/en/feature-icon1.jpg">
            <p class="text">Auto Follow</p>
        </div>
        <div class="f-item">
            <img src="../src/img/en/feature-icon2.jpg">
            <p class="text">Obstacle Avoidance</p>
        </div>
        <div class="f-item">
            <img src="../src/img/en/feature-icon3.jpg">
            <p class="text">Facial Recognition</p>
        </div>
        <div class="f-item">
            <img src="../src/img/en/feature-icon4.jpg">
            <p class="text">Gesture Control</p>
        </div>
        <div class="f-item">
            <img src="../src/img/en/feature-icon5.jpg">
            <p class="text">Up to 7 mph Speed</p>
        </div>
        <div class="f-item">
            <img src="../src/img/en/feature-icon6.jpg">
            <p class="text">Durable</p>
        </div>
    </section>
    <section class="feature feature-item-2">
        <div class="mask"></div>
        <div class="content">
            <h1>Hands-Free<br>Travel Companion</h1>
            <p>Adjust to your speed and space to <br> keep up with you.</p>
        </div>
    </section>
    <section class="feature feature-item-3">
        <div class="content">
            <h1>Intelligent Navigator</h1>
            <p>Adjust to your speed and space to <br> keep up with you.</p>
        </div>
        <div class="img"></div>
    </section>
    <section class="feature feature-item-4">
        <div class="mask"></div>
        <div class="content">
            <h1>Strong, Powerful<br>Transporter</h1>
            <p>Adjust to your speed and space to <br> keep up with you speed and space<br>Speed to your </p>
        </div>
    </section>
    <section class="feature feature-item-5">
        <div class="content">
            <h1>First-Class Luxury<br>and Durability</h1>
            <p>Adjust to your speed and space to <br> keep up with you.</p>
        </div>
        <div class="img"></div>
    </section>
    <section class="evaluations">
        <div class="evaluation-group">
            <div class="evaluation-item">
                <h1>GIGAOM</h1>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
            <div class="evaluation-item">
                <h1>TechCrunch</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adip.</p>
            </div>
            <div class="evaluation-item">
                <h1>VentureBeat</h1>
                <p>Lorem ipsum dolor sit amet, consectetu.</p>
            </div>
            <div class="evaluation-item">
                <h1>Yahoo!</h1>
                <p>Lorem ipsum dolor sit amet, con.</p>
            </div>
        </div>
    </section>
    <section class="figure">
        <div class="mask"></div>
    </section>
    <section class="join">
        <h1>Hurry,Crowdfunding Soon!</h1>
        <p>Sign up now to access the launch-day deal of up to <span>30% OFF</span></p>
        <div class="form-container">
            <form action="#" id="form2">
                <div class="input-wrapper">
                    <input type="text" placeholder="Email Address">
                </div>
                <div class="submit-button">Join Waitlist</div>
            </form>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <ul class="share-icons">
                <li class="share-item facebook">
                    <a href="#"></a>
                </li>
                <li class="share-item twitter">
                    <a href="#"></a>
                </li>
                <li class="share-item ins">
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </footer>
</article>
</body>
</html>