<footer>
    <div class="footer-content">
        <div class="footer-column">
            <label for="know">
                <h5>了解</h5>
            </label>
            <input type="checkbox" id="know">
            <ul>
                <li><a href="./consume.html">CX-1</a></li>
                <li><a href="./professional.html">仓储协作机器人</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <label for="about">
                <h5>关于灵动</h5>
            </label>
            <input type="checkbox" id="about">
            <ul>
                <li><a href="./about.html">我们的故事</a></li>
                <li><a href="./newsroom.html">媒体信息</a></li>
                <li><a href="./jobs.html">工作机会</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <!--<label for="contact">-->
            <h5>联系灵动</h5>
            <!--</label>-->
            <!--<input type="checkbox" id="contact">-->
            <ul>
                <li class="share contact">
                    <a href="https://weibo.com/ForwardX"><img class="icon" src="../src/assets/weibo.svg"/></a>
                    <span class="weixin-container">
                        <img class="icon" src="../src/assets/weixin.svg"/>
                        <span class="qrcode-container">
                            <img class="qrcode" src="../src/assets/wechat-qrcode.jpg">
                        </span>
                    </span>
                </li>
                <li class="contact"></li>
                <li class="contact">邮箱：yaxin@forwardx.ai</li>
                <li class="contact">电话：010-52780030</li>
                <li class="contact">地址：北京市海淀区世纪科贸大厦C2601</li>
                <li class="copyright contact">Copyright © 2018 Forward Inc. All rights reserved.</li>
            </ul>
        </div>
    </div>
</footer>