<footer>
    <div class="footer-content">
        <div class="footer-column">
            <label for="know">
                <h5 style="letter-spacing:.1em;">About</h5>
            </label>
            <input type="checkbox" id="know">
            <ul>
                <li><a href="/en">CX-1</a></li>
                <li><a href="/professional.html">Warehouse collaboration robot</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <label for="about">
                <h5 style="letter-spacing:.1em;">About ForwardX</h5>
            </label>
            <input type="checkbox" id="about">
            <ul>
                <li><a href="/about.html">Our Story</a></li>
                <li><a href="/newsroom.html">Newsroom</a></li>
                <li><a href="/jobs.html">Career Opportunities</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <!--<label for="contact">-->
            <h5 style="letter-spacing:.1em;">Contact us</h5>
            <!--</label>-->
            <!--<input type="checkbox" id="contact">-->
            <ul>
                <li class="share contact">
                    <a href="https://www.facebook.com/ForwardX-251067905429625/" target="_blank"><img class="icon"
                                                                                                      src="../src/assets/facebook.png"
                                                                                                      width="24"
                                                                                                      height="24"/></a>
                    <span class="weixin-container">
                        <a href="https://twitter.com/ForwardXRobo" target="_blank"><img class="icon"
                                                                                        src="../src/assets/tuite.png"
                                                                                        width="24"
                                                                                        height="20"/></a>
                        <!--<span class="qrcode-container">
                            <img class="qrcode" src="../src/assets/wechat-qrcode.jpg">
                        </span>-->
                    </span>
                </li>
                <li class="contact"></li>
                <li class="language">
                    <a href="/">简体中文</a>
                    |
                    <a href="/en">English</a>
                </li>
                <li class="contact">Email：yaxin@forwardx.com</li>
                <li class="contact">Phone：010-52780030</li>
                <li class="contact address">Address：Century Electronics Building, Haidian District, Beijing,C2601</li>
                <li class="copyright contact">Copyright © 2018 Renaissance Robotics LLC. All rights reserved.</li>
            </ul>
        </div>
    </div>
</footer>