<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" href="../src/assets/favicon.png">
    <title>灵动科技（ForwardX）</title>
</head>
<body>
<div id="nav"></div>
<article class="main">
    <div class="big-bang-news homepage-section">
        <a href="/newsdetail.html?newsid=4">
            <div class="hs-boxed news-boxed">
                <div class="news-container">
                    <div class="news-epic">
                        <h1 class="title">2018<br>我们在<br>Vegas 等你<br>
                            <p>时间: Jan 9-Jan 12, 2018<br>
                                地点: #52832 Eureka Park<br>
                                Sands Expo, Las Vegas</p></h1>
                    </div>
                    <div class="img-asset">
                        <img src="../src/img/index/news.png">
                    </div>
                </div>
                <div class="enter-button">
                    <img class="enter-img" src="../src/assets/arrow.svg">
                </div>
            </div>
        </a>
    </div>
    <section class="hero homepage-section">
        <a href="/consume.html">
            <div class="hero-boxed hs-boxed">
                <div class="epic hero-epic">
                    <div class="epic-content hero-epic-content">
                        <h2>Your hands saved for better</h2>
                        <h1>形影箱随</h1>
                        <p>全球首个自动跟随智能行李箱，视觉感知，四轮驱动。</p>
                    </div>
                </div>
                <div class="portrait hero-portrait">
                    <img class="move-img hero-move-img" src="../src/img/index/trunk.png">
                </div>
                <div class="enter-button">
                    <img class="enter-img" src="../src/assets/arrow.svg">
                </div>
            </div>
        </a>
    </section>
    <section class="exhibit-jd homepage-section">
        <a href="/professional.html">
            <div class="exhibit-jd-boxed hs-boxed">
                <div class="portrait jd-portrait">
                    <img class="move-img jd-move-img" src="../src/img/index/jd.jpg">
                </div>
                <div class="epic jd-epic">
                    <div class="epic-content jd-epic-content">
                        <h2>Future of Logistics</h2>
                        <h1>知人知货<br>知场</h1>
                        <p>更好的仓储协作机器人，让物流更高效。</p>
                    </div>
                </div>
                <div class="enter-button">
                    <img class="enter-img" src="../src/assets/arrow.svg">
                </div>
            </div>
        </a>
    </section>
    <div id="footer"></div>
</article>
</body>
</html>