<header class="nav">
    <div class="nav-content">
        <div class="logo">
            <a href="/">
                <img src="../src/assets/logo.png">
            </a>
        </div>
        <input type="checkbox" id="mobile-menu">
        <label for="mobile-menu">
            <div class="bread">
                <div class="bread-line line1"></div>
                <div class="bread-line line2"></div>
                <div class="bread-line line3"></div>
            </div>
        </label>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/en" class="nav-link">Consumer</a>
            </li>
            <!--<li class="nav-item">
                <a href="/professional.html" class="nav-link">Professional</a>
            </li>
            <li class="nav-item">
                <a href="/newsroom.html" class="nav-link">Newsroom</a>
            </li>
            <li class="nav-item">
                <a href="/about.html" class="nav-link">About ForwardX</a>
            </li>
            <li class="nav-item">
                <a href="/jobs.html" class="nav-link">Join ForwardX</a>
            </li>
            -->
        </ul>
    </div>
</header>