@import "base";
@import "common";

body {
  background: #F6F6F6;

}

.nav {
  background: #fff;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  min-height: 640px;
  .title-bar {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: saturate(180%) blur(20px);
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
    @media screen and (max-width: 768px) {
      top: 70px;
      z-index: 1;
    }
  }
  .news-group {
    margin: 90px auto 0;
    width: 700px;
    min-height: 100%;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 50px;
    }
    .news-item {
      position: relative;
      z-index: 0;
      height: 270px;
      width: 100%;
      margin-top: 10px;
      font-size: 0;
      background: #fff;
      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1), margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      transform: scale(1);
      transform-origin: center top;
      &:hover {
        z-index: 1;
        box-shadow: 0 42.3px 70px -17.3px rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
        @media screen and (max-width: 768px) {
          box-shadow: none;
          transform: scale(1);
        }
      }
      @media screen and (max-width: 768px) {
        height: auto;
      }
      .content {
        display: inline-block;
        width: 170px;
        height: 100%;
        vertical-align: top;
        color: #333;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: 150px;
        }
        time {
          display: inline-block;
          width: 100%;
          padding: 20px 0 0 20px;
          font-weight: 600;
          font-size: 12px;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding: 20px 0 0 20px;
            box-sizing: border-box;
          }
        }
        .title {
          width: 128px;
          font-size: 17px;
          padding: 20px 0 0 20px;
          font-weight: 400;
          line-height: 1.29412;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding: 20px 20px 0 20px;
            box-sizing: border-box;
          }
        }
      }
      .img-asset {
        display: inline-block;
        width: 530px;
        height: 100%;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
          padding: 0 10px 10px;
          box-sizing: border-box;
        }
        img {
          width: 100%;
          height: 100%;
          @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}